[submodule "dependency/spdlog"]
	path = dependency/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dependency/glm"]
	path = dependency/glm
	url = https://github.com/g-truc/glm
[submodule "dependency/sokol"]
	path = dependency/sokol
	url = https://github.com/floooh/sokol
[submodule "dependency/sokol-toolkit-bin"]
	path = dependency/sokol-toolkit-bin
	url = https://github.com/KorolevSoftware/sokol-tools-bin-only-cmake
	branch = cmake-only
[submodule "dependency/SDL2Image"]
	path = dependency/SDL2Image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "dependency/SDL_ttf"]
	path = dependency/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
[submodule "dependency/SDL"]
	path = dependency/SDL
	url = https://github.com/libsdl-org/SDL.git
