[submodule "dependency/spdlog"]
	path = dependency/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dependency/glm"]
	path = dependency/glm
	url = https://github.com/g-truc/glm
[submodule "dependency/sokol"]
	path = dependency/sokol
	url = https://github.com/floooh/sokol
